# Default ignored files
/shelf/
/workspace.xml
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Java template
*.class

# Package Files #
*.jar
*.war
*.ear

### macOS template
*.DS_Store
.AppleDouble
.LSOverride

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Editor-based HTTP Client requests
/httpRequests/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Gradle
.gradle
/build/
.gradletasknamecache
!gradle/wrapper/gradle-wrapper.jar